<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Decision</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


      
<div class="alert alert-danger" role="alert">
        Tips:
        name: characters are lower case only. 
        comments: after each one use | to seperate the other one (at least one | )
        the last comment should not have | after it.
        eg: 
            name: shandmark
            score: 5.0
            teachers: this is the best prof in the world|shandmark|best prof|a wonderful prof
</div>

<form action="/add/teacher" method="POST" style="padding-left: 200px">
    <div class="row">
        <input style="margin-left: 5px; margin-right:5px" type="text" name="name" placeholder="name">
        <input style="margin-left: 5px; margin-right:5px" type="text" name="score" placeholder="score">
    </div>
    <div class="row">
        <input style="margin-left: 5px; margin-right:10px; width: 1000px" type="text" name="comments" placeholder="comments">
    </div>
    <button style="margin-top: 30px" class="btn btn-primary">Add</button>
    <a href="/">Main Page</a>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html> 