<% include partials/header %>

<div class="position">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-5 offset-md-3">
                <div class="card" style="padding-top: 20%; padding-bottom: 20%">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Decision</h4>
                        </div>
                      
                        <form action="/user/signin" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" placeholder="username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block">Sign In</button>
                            </div>
                            <div class="form-group">
                                <a href="/user/signup">Have not yet have an account?</a>
                            </div>
                            <div class="form-group">
                                <p>If it loads slowly, please Click Button again!</p>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

   


<% include partials/footer %>