<% include partials/header %>



<div style="padding-left: 20%; padding-right: 20%; padding-top: 5%">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-6">There are teachers who teach <%= name %></h1>
          <hr class="my-4">
          <% teachers.forEach(function(teacher){ %>
            <a class="btn btn-success" href="/class/<%= name %>/teacher/<%= teacher%>"><strong><%= teacher%></strong></a>
            <% }); %>
        </div>
    </div>
</div>
<% include partials/footer %>
